# Frontend Configuration
VITE_ENVIRONMENT=development
VITE_API_URL=http://127.0.0.1:8000

# Supabase (Only public keys should be here)
VITE_SUPABASE_URL=https://jdzztfzpgolxuvchhrmc.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_aq9kx2v9FBCns-95Vv_k3Q_aqqQBv_p
